<?xml version="1.0" encoding="UTF-8"?>
<!-- 30초마다 설정 파일의 변경을 확인한다. 파일이 변경되면 다시 로딩한다 -->
<configuration scan="true" scanPeriod="30 seconds">
    <!-- profile 별 설정 가져오기  -->
    <springProfile name="local"><property resource="logs/logback-local.properties"/></springProfile>
    <springProfile name="dev"><property resource="logs/logback-dev.properties"/></springProfile>
    <springProfile name="product"><property resource="logs/logback-product.properties"/></springProfile>
    <!-- log packagename -->
    <property name="LOG_PACKAGE_NAME" value="${log.config.packagename}"/>
    <!-- log file path -->
    <property name="LOG_PATH" value="${log.config.path}"/>
    <!-- log file name -->
    <property name="LOG_FILE_NAME" value="${log.config.default.filename}"/>
    <!-- log days -->
    <property name="LOG_DAYS" value="${log.config.days}"/>
    <!-- log filesize log -->
    <property name="LOG_FILESIZE_LOG" value="${log.config.filesizelog}"/>
    <!-- log filesize zip -->
    <property name="LOG_FILESIZE_ZIP" value="${log.config.filesizezip}"/>
    <!-- log filesize total -->
    <property name="LOG_TOTAL_FILESIZE" value="${log.config.totalfilesize}"/>
    <!-- log min count -->
    <property name="LOG_FILE_MIN" value="${log.config.min}"/>
    <!-- log max count -->
    <property name="LOG_FILE_MAX" value="${log.config.max}"/>
    <!-- pattern -->
    <property name="LOG_PATTERN_DEFAULT" value="[%d{yyyy-MM-dd HH:mm:ss}] %-5level %logger{36} - %msg%n"/>
    <property name="LOG_PATTERN_DEFAULT_ERROR" value="[%d{yyyy-MM-dd HH:mm:ss}] %-5level %logger{36} - %msg%n"/>

    <!-- CONSOLE appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN_DEFAULT}</pattern>
        </encoder>
    </appender>

    <!-- 테스트를 위한 설정 -->
    <appender name="ERROR_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN_DEFAULT_ERROR}</pattern>
        </encoder>
    </appender>
    <!-- file appender -->
    <appender name="INFO_DEFAULT_FILE_APPENDER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN_DEFAULT}</pattern>
        </encoder>
    </appender>

    <appender name="ERROR_DEFAULT_FILE_APPENDER" 
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_PATH}/${LOG_FILE_NAME}-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}-error.%d{yyyy-MM-dd}.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN_DEFAULT}</pattern>
        </encoder>
    </appender>
    
    <!-- 운영 -->
    <if condition='property("log.config.mode").equals("product")'>
        <then>
            <logger name="${LOG_PACKAGE_NAME}" additivity="false">
                <level value="INFO"/>
                <appender-ref ref="ERROR_DEFAULT_FILE_APPENDER"/>
                <appender-ref ref="INFO_DEFAULT_FILE_APPENDER"/>
            </logger>
            <logger name="org.springframework" additivity="false">
                <level value="INFO"/>
                <appender-ref ref="ERROR_DEFAULT_FILE_APPENDER"/>
            </logger>
            <root level="INFO">
                <appender-ref ref="ERROR_DEFAULT_FILE_APPENDER"/>
                <appender-ref ref="INFO_DEFAULT_FILE_APPENDER"/>
            </root>
        </then>
        <else>
            <if condition='property("log.config.mode").equals("dev")'>
                <!-- 개발 -->
                <then>
                    <logger name="${LOG_PACKAGE_NAME}" additivity="false">
                        <level value="INFO"/>
                        <appender-ref ref="CONSOLE"/>
                        <appender-ref ref="INFO_DEFAULT_FILE_APPENDER"/>
                    </logger>
                    <logger name="org.springframework" additivity="false">
                        <level value="INFO"/>
                        <appender-ref ref="CONSOLE"/>
                        <appender-ref ref="INFO_DEFAULT_FILE_APPENDER"/>
                    </logger>
                    <root level="INFO">
                        <appender-ref ref="CONSOLE"/>
                        <appender-ref ref="INFO_DEFAULT_FILE_APPENDER"/>
                    </root>
                </then>
                <!-- 로컬 local -->
                <else>
                    <logger name="${LOG_PACKAGE_NAME}" additivity="false">
                        <level value="DEBUG"/>
                        <appender-ref ref="CONSOLE"/>
                    </logger>
                    <logger name="org.springframework" additivity="false">
                        <level value="INFO"/>
                        <appender-ref ref="CONSOLE"/>
                    </logger>
                    <root level="DEBUG">
                        <appender-ref ref="CONSOLE"/>
                    </root>
                </else>
            </if>
        </else>
    </if>
        
</configuration>