<!-- <?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds"> -->
<included>
<!--  <include resource="org/springframework/boot/logging/logback/defaults.xml" /> -->

  	<property name = "moduleId" value ="withme_app"/>
	<property name = "type" value = "run"/>
	<property name = "logback" value = "researcher1"/>
<!--  <property name = "logdir" value = "/var/lib/tomcat9/webapps"/>-->
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
   		<layout class="ch.qos.logback.classic.PatternLayout">
     		<Pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{36} - %msg%n</Pattern>
   		</layout>
	</appender>
	
	
	
<appender name="SIFT-TRACE" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator  class="ch.qos.logback.classic.sift.MDCBasedDiscriminator">
        <Key>loggerFileName</Key>
        <DefaultValue>unknown</DefaultValue>
    </discriminator>
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
        <evaluator class="ch.qos.logback.classic.boolex.JaninoEventEvaluator">
            <expression>
                mdc.get("loggerFileName")!=null
            </expression>
        </evaluator>
        <OnMismatch>DENY</OnMismatch>
        <OnMatch>NEUTRAL</OnMatch>
    </filter>
    <sift>
        <appender name="FILE-${loggerFileName}" class="ch.qos.logback.core.FileAppender">
            <File>./withme_app/${loggerFileName}.log</File>
            <Append>true</Append>
            <layout class="ch.qos.logback.classic.PatternLayout">
		  		<pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level]  %C %M %L %logger %msg%n</pattern>
            </layout>
        </appender>
    </sift>
</appender>




	
	<!--  
	<appender name = "FILE" class = "ch.qos.logback.core.rolling.RollingFileAppender">

		<file>${moduleId}/${logback}/${name}.log</file>
		<append>true</append>
		<rollingPolicy class = "ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		  <fileNamePattern>${moduleId}/${logback}/%d{yyyy-MM-dd}.log</fileNamePattern>
		  <maxHistory>180</maxHistory>
		</rollingPolicy>
		<encoder>
		  <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level]  %C %M %L %logger %msg%n</pattern>
		</encoder>
	</appender> -->

	<logger name="org.springframework" level="INFO" />

	<root level="INFO">
    	<appender-ref ref="STDOUT"/>
    	<appender-ref ref = "SIFT-TRACE"/>
 	</root>
 	
 <!-- 	 <logger name="AuthController" additivity="false">
   		<level value = "INFO" /> 
   			<appender-ref ref="SIFT-TRACE" />
 	</logger>-->	
 	
 	<logger name="org.hibernate.SQL" additivity="false">
   		<level value = "INFO" />
   			<appender-ref ref="SIFT-TRACE" />
 	</logger>
</included>