<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WithMe 이메일 인증</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" >
	$(function(){
		sendVertify();
	});
	
	//사용자 삭제 요청
	function sendVertify() {
		//삭제 버튼 클릭
		$('body').on('click','#btnSend',function(){
			var accountId = $('input:text[name="accountId"]').val();
			
				$.ajax({
					url:'account/',  type:'Post',
					dataType:'json',
					data: JSON.stringify({ accountId: accountId}),
					contentType: 'application/json',
					mimeType: 'application/json',
					error:function(xhr,status,msg){
						console.log("상태값 :" + status + " Http에러메시지 :"+msg);
					}, success:function(xhr) {
						console.log(xhr.result);
					}
				});
		}); //삭제 버튼 클릭
	}//userDelete
</script>
</head>
<body>
<div class="container">
	<form id="form1"  class="form-horizontal">
		<h2 class="text-center">${title}</h2>
		<h3 class="text-center">${organization}</h3>
		<h3 class="text-center">${accountId}</h3>
		<h4 class="text-center">${emailVertify}</h4>
		<div class="form-group">
			<label >AccountId:</label>
			<input type="text"  class="form-control" name="accountId" id="accountId">
		</div>	  
		<input type="button"  class="btn btn-primary btn-lg" value="승인 요청"  id="btnSend" /> 
	</form>
</div>
</body>
</html>